export POSTGRES_HOST="0.0.0.0"
export POSTGRES_PORT="5432"
export POSTGRES_DB="cexplorer"
export POSTGRES_USER="postgres"
if [ ! -f postgres.password ]; then
    uuidgen | tr -d '-' | head -c 16 > postgres.password
fi
export POSTGRES_PASSWORD="$(cat ./postgres.password)"

export DB_SYNC_POSTGRES_CONNECTION_STRING="psql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB"

## Sidechain init-related
export THRESHOLD_NUMERATOR=2
export THRESHOLD_DENOMINATOR=3
export PAYMENT_SIGNING_KEY_FILE="path to payment.skey"
export D_PARAMETER_PERMISSIONED_CANDIDATES_COUNT=5
export D_PARAMETER_REGISTERED_CANDIDATES_COUNT=2

## toolkit-js related
earthly +toolkit-js-prep-local
